<%- include('includes/head') %>
<%- include('includes/nav') %>
<div class="container">
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8 my-3">
            <h1 class="text-center">Contatos</h1>
            <p class="text-center lead">Crie ou edite seu contato abaixo</p>

            <%- include('includes/messages') %>
            <% if(contato._id){ %>
              <form action="/contato/edit/<%= contato._id %>" method="post">
            <% } else { %>
              <form action="/contato/register" method="post">
            <% } %>
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <div class="mb-3">
                  <label class="form-label">Nome</label>
                  <input type="text" class="form-control" aria-describedby="emailHelp" name="nome" value="<%= contato.nome %>">
                </div>
                <div class="mb-3">
                    <label class="form-label">Sobrenome</label>
                    <input type="text" class="form-control" aria-describedby="emailHelp" name="sobrenome" value="<%= contato.sobrenome%>">
                </div>
                  <div class="mb-3">
                    <label class="form-label">E-mail</label>
                    <input type="email" class="form-control" aria-describedby="emailHelp" name="email" value="<%= contato.email %>">
                  </div>
                  <div class="mb-3">
                    <label class="form-label">Telefone</label>
                    <input type="tel" class="form-control" aria-describedby="emailHelp" name="telefone" value="<%= contato.telefone %>">
                  </div>
                <button type="submit" class="btn btn-primary">Salvar</button>
            </form>
        </div>
        <div class="col-lg-2"></div>
      
    </div>
</div>
<%- include('includes/footer') %>  